{{ if .alt_tools -}}
# --- Alt-tools (modern CLI replacements) ---
alias ls='eza --icons --group-directories-first'
alias l='eza -lh --git --icons --group-directories-first'
alias la='eza -la --git --icons --group-directories-first'
alias tree='eza --tree --icons'
alias df='duf'
alias du='dust'
alias find='fd'
alias grep='rg'
alias dig='doggo'
alias man='tldr'
{{- end }}

{{ if .kubernetes -}}
# --- Kubernetes ---
alias kubectl='kubecolor'        # colorised kubectl; compdef set in .zshrc
alias k='kubectl'
alias kx='kubectx'
alias kn='kubens'
alias kgp='k get pods'
alias kgd='k get deployments'
alias kgs='k get service'
alias kga='k get all'
alias kl='k logs -f'             # single pod
alias ksl='stern'                # multi-pod / pattern-based log tailing
alias kex='k exec -it'
{{- end }}

# --- Git & Workflow ---
alias lg='lazygit'
alias copylast="fc -ln -1 | sed 's/^[ \t]*//' | pbcopy"

# --- Config Management ---
alias zshconfig="chezmoi edit ~/.zshrc"
alias envconfig="chezmoi edit ~/.zsh/env.zsh"
alias aliasconfig="chezmoi edit ~/.zsh/aliases.zsh"
alias funcconfig="chezmoi edit ~/.zsh/functions.zsh"
alias sheldonconfig="chezmoi edit ~/.config/sheldon/plugins.toml"
alias reload="exec zsh"

# --- Maintenance & Updates ---
alias sheldon-up="sheldon lock --update && sheldon source > ~/.zsh/sheldon.zsh && echo 'Sheldon updated.'"

# --- Global Aliases ---
alias -g L='| less'
alias -g G='| grep'
alias -g H='| head'
alias -g T='| tail'
{{ if .alt_tools -}}
alias -g CJ='| jid'
{{- end }}
